<h1>Dashboard</h1>

<a href='/ads/new'>Create New Ad</a>



<a href='/employees/new'>Create New Profile</a>



<a href='/clients/new'>Create New Client</a>



<a href='/companies/new'>Create New Company</a>







